<% include ../partials/header %>
<div class = "container">    
    <div class = "row">
        <h1 class = "text-center">Comment on <%= nachos.restaurant %>'s Nachos</h1>
        <div class = "form">
            <form action = "/nachos/<%= nachos._id %>/comments" method = "POST">
                <div class = "form-group">
                    <input class = "form-control" type = "text" name = "comment[text]" placeholder = "comment">
                </div>    
                <div class = "form-group">
                    <button class = "btn btn-lg btn-default btn-block btn-primary">Submit Review</button>
                </div>
            </form>
            <a href = "/nachos">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>